


/*
------------------Fonts-----------------------
Aqui son los tipos de letras que estaran disponibles
*/

:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Ubuntu",  sans-serif;
  --nav-font: "Nunito",  sans-serif;
}

/*
Estos son colores que se usaran solo estos estaran activos 
*/
:root{
  --backgroud-color: #1f1f1f; /*color de fondo para todo el sitio web*/
  --default-color: #ffffff; /* Color por defecto que se utiliza  o  utlizara en cualquier elemento*/
  --heading-color: #ffffff; /*Color de los encabezados, subencabezados y título en todo el sitio web*/
  --accent-color: #9b805a; /*Color de acento que representa su marca en el sitio web. Se utiliza para botones, enlaces y otros elementos que deben destacar */
  --surface-color : #232323;/*El color de la superficie se utiliza como fondo de los elementos encajonados dentro de las secciones, como tarjetas, cuadros de iconos u otros elementos que requieren una separación visual del fondo global.*/
  --contrast-color: #ffffff; /*Color de contraste para el texto, que garantiza la legibilidad sobre fondos de colores de acento, de encabezamiento o por defecto.*/
}

/*navMenu colores  estos son especialmente variables para el menu de navegacion*/
:root{
  --nav-color: #ffffff;/*El color para los liks*/
  --nav-hover-color: #9b805a;/*Se aplica a los enlaces del menú de navegación principal cuando se sitúan sobre ellos o están activos.*/
  --nav-mobile-background-color: #393939;/*navegacion en telefonos moviles*/
  --nav-dropdown-background-color:#393939;/* este por ahora no estara habilitado ya que aun no estoy decidico*/
  --nav-dropdown-color: #ffffff; /*Aplica para este tambien */
  --nav-dropdown-hover-color: #9b805a; /*Aplica para este tambien*/
}

/*
Preconfiguraciones de color - Estas clases anulan los colores globales cuando se aplican a cualquier sección o 
elemento, proporcionando la reutilización del esquema de color sam. 
*/
.light-background {
  --background-color: #2c2c2c;
  --surface-color: #323232;
}

.dark-background {
  --background-color: #040b14;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #151f2b;
  --contrast-color: #ffffff;
}

/* Aplicamos el desplazamiento suave*/
:root {
  scroll-behavior: smooth;
}

/*Aplicacion de estilismo general  y clases compartidas*/
body { 
  /* Hasta aqui esta el fondo negro y texto blanco por defecto*/
  color: var(--default-color);
  background-color: var(--backgroud-color);
  font-family: var(--default-font);
}

/*la etiqueta a*/
a {
  /*Hasta aqui se cmabia las etiquetas a a cafe */
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
  /* el estilo hover es para usarlo cuando se pasa el mause*/
  color:  color-mix(in srgb,var(--accent-color),transparent 25%);
  text-decoration: none;

}

h1,h2,h3,h4,h5,h6{
  /*Cambiando tipo de letra y color en esas etiquetas*/
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* php email formulario */


